

body {
  background-color: #f9fafc;
}

nav li {
    font-size: 14px;
    font-weight: 400;
    color: #69696a;
    padding: 0;
    margin: 0.5em;
    list-style: none;
  /*color: #69696a;
  letter-spacing: normal;
  padding: 10px;
  list-style: none;**/
}
ul {
  margin: 5px 0 0 -10px;
  padding:0;
  }
/*.hire {
  text-align: center;
  background-color: #000;
  color: white;
  border-radius: 20px;
  margin-left: 10px;
  padding: 10px;
  letter-spacing: normal;
}*/

div h1 {
  font-size: 30px;
  font-weight: 350;
  margin: 1em 0 0 0;
}

div p {
    border-left: solid #69696a;
    padding: 10px;
    margin: 0 auto;
    font-size: 12px;
    color: #69696a;
    width: 100%;
}

.scroll {
    background-color: #000000;
    border-radius: 20px;
    padding: 10px 25px;
    color: #f9fafc;
    font-size: 14px;
    font-weight: 400;
    text-align: center;
    max-width: 100%;
  }
  /*text-align: center;
  background-color: #000;
  color: white;
  padding: 10px;
  border-radius: 20px;
}*/

  /*header {
    display: inline-block;
    font-weight: 400;
    font-size: 14px;
    color: #000000;
    margin-right: 50%;
  }*/

  footer {
    margin-top: 10%;
  }

  @media only screen and (min-width: 768px) {

    ul {
      display: flex;
      flex-direction: row;
      justify-content: flex-end;
      padding-right: 7%;
    }
    nav .scroll{
      display: inline;
      position: absolute;
      margin: -33px;
      right: 7px;
    }
    .body {
     display: flex;
     width: 100%;
     margin-top: 10%;
 }
    div h1 {
      font-size: 25px;
      font-weight: 400px;
      margin: 150px 4px 0;
    }
    div p{
      border-left: solid #69696a;
      padding: 10px;
      margin-left: 9px;
      font-size: 12px;
      color: #69696a;
      width: 50%;
    }
    #circles {
      justify-content: flex-end;
      max-width: 100%;
      display: flex;
      margin-top: -18%;
   }
   .circle1 {
     position: absolute;
     border-radius: 50%;
     width: 250px;
     height: 240px;
     background-color: rgba(247, 136, 167, 0.6);
     margin: -20%;
     margin-top: 50px;
     z-index: -1;
   }
   .circle2 {
     position: absolute;
     border-radius: 50%;
     width: 150px;
     height: 150px;
     background-color: rgba(207,   130,   213,   0.6);
     margin: 100px;
     margin-left: -50px;
   }
   .circle3 {
     position: absolute;
     border-radius: 50%;
     width: 200px;
     height: 200px;
     background-color: rgba(247,   193,   162,   0.7);
     margin: 200px;
     margin-left: -120px;
   }
   footer {
     display: flex;
     justify-content: center;
     margin-top: 50%;
   }
  }
